@media (max-width: 1000px){
/*------------universal-------------*/
	.container{
		max-width: 85%%;
	}

	/*------------header-------------*/

	.header-col-2 li {
	margin-left: 20px;

	}

	.header-col-2 li a {
	font-size: 12px;
	
	}

	.header-col-1 img {
	margin-top: 30px;
	width:70%;

}

.search-box{
	width: 150px;
	margin-right: 10px;
	margin-top: 2px;
}

.search-button {
	width: 60px;
	height: 29px;
	font-size: 11px;
}
	 
	/*------------hero-------------*/

	.hero-col-1 h1{
	font-family: 'Merriweather',serif;
	font-size: 35px;
}

	.hero-col-1 p{
	font-family: 'Merriweather',serif;
	font-size:14.01px;
	line-height: 250%;
}

.hero button{
	width: 160px;
	height: 50px;
	font-size:15px;
}
	/*------------icons-------------*/

	.icons{
		height:265px;
	}
	.icon-list h3{
	font-family: 'Merriweather', serif;
	font-size: 15px;
	color: #033a74
}
	.icon-list p{
	font-family: 'Merriweather', serif;
	font-size: 14px;
	line-height: 200%;
	color: #b9b8b8;
	
}

	.icons-icon{
		height: 40px;
		width:45px;
	}

	/*------------clientele-------------*/
	.client-images{
	
	display:none;
	}

	.clientele{
		height: 150px;
		padding-bottom: 0px;
	}
	
	.client-wrap h2{
		font-size: 30px;
	}

	.client-images-small{
		display:inline;
		box-sizing: border-box;
	}

	.client-images-small li{
		float:left;
		margin-left:3%;
		width:23.5%;
		height: 77px;
		background: url("../img/client2-small.png");
		background-repeat: no-repeat;
}

}

@media (max-width:850px) {
	.container{
		max-width:95%;

	.header-col-2{
		margin-top:0px;
	}
}



@media (max-width: 760px){
header{
		height: 100px;
	}
	.blue-bar{
		height:45px;
		margin-bottom: 0px;
	}

	.header-col-2 nav{
		display: none;
		font-size: 8px;
		margin-top:100px;
		padding-bottom: 3px;
	}

	.search-ham{
		float: right;
		display:block;
		padding-top:10px;
		}

	.bar-input{
		width: 150px;
		height: 15px;
		margin-top:3.5px;
		float:left;
		margin-right: 3px;
	}
	
	.search-ham button{
		width: 70px;
		height: 25px;
		font-size: 12px;
		float:right;
		padding-bottom: 7px;
	}

	.search{
		display: none;
	}

	.ham{
		padding-top: 15px;
		display:block;
		float:left;
	}

	.header-col-1 img{
		margin-top: 5px;
		}

		/*-----------------hero-----------------*/
		
		
		.hero{
			height:225px;
			margin: 5px 0px; 
			background-repeat: no-repeat;
			background-position: 0px -150px;
		}

		.hero .container{
			height:225px;
		}

		

		.hero-col-1{
			padding-top: 0px;
		}

		.hero-col-2{
			padding-top:90px;
		}

		.hero-col-2 button{
			width: 130px;
			height: 40px;
		}

		.hero-col-1 h1{
		font-family: 'Merriweather',serif;
		font-size: 30px;
		float: left;
		margin: 0px 0px 10px 0px;
		}

	.hero-col-1 p{
		font-family: 'Merriweather',serif;
		font-size:13.01px;
		line-height: 150%;
		color: white;
		float:left;
		margin: 5px 0px 0px 0px;
		}
		
		/*-----------------icons-----------------*/
		.icons{
		margin-top:5px;
		padding: 5px 0px;
		height: 230px;
		margin-bottom: 5px;
		}

		.icons h3{
			margin:5px 0px;
			font-size: 15px;
		}

		.icons p{
			margin: 5px 0px;
			line-height:150%;
		}

		.icons-icon{
			
		}
		
		/*------------------clientele---------------*/
		.clientele{
			margin: 15px 0px;
			padding-bottom: 10px;
			height:125px;
		}
		
		.clientele h2{
			margin: 5px 0px;
			font-size: 25px;
		}

		.client-images-small li{
			height: 50px;
			background-position: 0px -8px;
			width:23.5%;
		}

		.left, .right{
			height: 20px;
		}
}

@media (max-width: 690px) {
		
		.hero-col-2 button{
			width: 130px;
			height: 40px;
			padding-top: 0px;
		}

		.hero-col-1 h1{
		font-family: 'Merriweather',serif;
		font-size: 20px;
		float: left;
		margin: 0px 0px 10px 0px;
		}

		.hero-col-1 p{
		font-family: 'Merriweather',serif;
		font-size:12.01px;
		line-height: 150%;
		padding-bottom: 0px;
		}

		.hero-col-1{
			max-width: 60%;
			float: none;
			height: 100px;
		}

		.hero-col-2{
			padding-top: 0px;
		}
		

		.icons{
			height: 190px;
		}
		.icons h3{
			font-size: 13px;
		}

		.icons p{
			margin: 5px 0px;
			line-height:150%;
			font-size: 12px;
		}

		.icons-icon{
			width: 35px;
			height: 30px;
		}
}