@media (max-width: 1000px) {

	/*---------------About-----------------*/

	.about-page-company h2, .about-page-team  h2 {
		font-size: 41px;
	}

	.about-page-company h3, .about-page-team  h3 {
		font-size: 22px;
	}

	.about-page-company p, .about-page-team  p {
		font-size: 18.01px;
		line-height: 200%;
	}


}



@media (max-width: 760px) {

	/*---------------About-----------------*/


	.about-page-company h2, .about-page-team  h2 {
		font-size: 31px;
	}

	.about-page-company h3, .about-page-team  h3 {
		font-size: 18px;
	}

	.about-page-company p, .about-page-team  p {
		font-size: 14.01px;
		line-height: 150%;
	}
	

	.about-team-list li {
		height: 200px;
	}

	.team-col-1>img {
		width: 150px;
		height: 187px;
	}
}


@media (max-width: 540px) {

	.team-col-1>img {
		width: 125px;
		height: 156px;
	}
	
}

@media (max-width: 460px) {


	/*---------------About-----------------*/

	.about-page-company h2, .about-page-team  h2 {
		font-size: 25px;
	}

	.about-page-company h3, .about-page-team  h3 {
		font-size: 18px;
	}

	.about-page-company p, .about-page-team  p {
		font-size: 15px;
		line-height: 150%;
	}

	.team-col-1, .team-col-2 {
		width: 100%;
	}

	.team-col-1 {
		float: none;
		text-align: center;
	}

	.team-col-1>img {
		width: 140px;
		height: 175px;
	}


	.team-col-2>h3 {
		padding-top: 20px;
	}

	.about-team-list li {
		height: 100%;
	}

}


@media (max-width: 380px) {

	.team-col-1>img {
		width: 125px;
		height: 156px;
	}

}