@media (max-width: 1000px) {


	h2 {
		font-size: 35px;
	}

	h3 {
		font-size: 18px;
	}

	p {
		font-size: 14.01px;
		line-height: 150%;
	}
	
	/*------------Products Listing------------*/

	.products-list li {
		height: 235px;
	}

	.product-col-1 {
		width: 150px;
		height: 150px;
	}



}



@media (max-width: 760px) {

	.container{
		max-width: 95%;
	}	

	h2 {
		font-size: 31px;
	}

	h3 {
		font-size: 20px;
	}

	p {
		font-size: 16.01px;
		line-height: 150%;
	}


	/*------------Products Listing------------*/

	
	.products-list li {
		width: 100%;
		height: 200px;
	}

	.product-col-1 {
		margin-left: 20px;
		width: 200px;
		height: 200px;
	}


}


@media (max-width: 540px) {

	.product-col-1 {
		margin-left: 20px;
		width: 160px;
		height: 160px;
	}

}


@media (max-width: 480px) {

	h2 {
		font-size: 25px;
	}

	h3 {
		font-size: 18px;
	}

	p {
		font-size: 15px;
		line-height: 150%;
	}


	/*------------Products Listing------------*/

	
	.products-list li {
		height: 100%;
		margin-bottom: 50px;
		margin-top: 20px;
	}

	.product-col-1, .product-col-2{
		float: none;
		width: 100%;
	}

	.product-col-1 {
		margin: 0 auto 20px auto;
		height: 140px;
		width: 140px;
	}


}


/*

@media (max-width: 310px) {

	.product-col-1 {
		width: 100px;
		height: 100px;
	}

}