/* Blue - #033a74 */
/* Grey - #b9b8b8 */
/* Green - #6ED26E */

/* font-family: 'Merriweather', serif; */
/* font-family: 'Open Sans', sans-serif; */

* {
	list-style: none;
	padding:0px;

}

a {
	text-decoration: none;
}

.container {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

h2 {
	color: #033a74;
	text-align: center;
	margin: 30px 0;
	font-family: 'Merriweather', serif;
	font-size: 41px;
}

h3 {
	margin: 20 0 10px 0;
	color: #033a74;
	font-family: 'Merriweather', serif;
	font-size: 22px;
}

p {
	font-family: 'Merriweather', serif;
	font-size: 18.01px;
	line-height: 200%;
	color: #b9b8b8;
}

ul input {
	padding: 0;
}

button, input[type="submit"] {
	background-color: #6ED26E;
	border-radius: 10px;
	color: white;
	border: 0;
	padding: 5px 10px;
}

input:focus, textarea:focus, button:focus {

	outline:0 		!important;
}




/*---------------Header----------------*/

.blue-bar {
	width: 100%;
	height: 16px;
	background-color: #033a74;
	margin-bottom: 20px;
}

.nav-ele{
	display: none;
	background-color: rgb(3,58,116);
}

.nav-ele li{
	background-color: rgb(3,58,116);
	text-align: center;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #b9b8b8;
	font-family: 'Open Sans', sans-serif; 

}

.nav-ele ul{
	margin: 0px;
}

.nav-ele li:first-child{
	padding-top: 10px
}

.nav-ele li a{
	color: white;
}

header{
	border-bottom: 1px solid  #b9b8b8 ; 
}

.header-col-1 {
	
	height: 100px;
	float: left;
	box-sizing: border-box;
}

.header-col-2 {
	float: right;
	box-sizing: border-box;
	width: 50%;
	margin-top: 40px;
}

.search-button-2{
	width: 20px;
	margin-right: 50px;
}

.search-drop{
	position: relative;
	width:100px;
	margin-left: 35%;
}

.search-button-icon{
	display: none;
}

.search-drop-menu{
	height: 40px;
	background-color: #033a74;
	
	display: none;
}



.header-col-1 img {
	margin-top: 20px;
}

.search {
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	
}
.search-ham img{
			display: none;
		}
		

.search-button {
	width: 75px;
	height: 29px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #6ed26e;
	-webkit-box-shadow: 0 1px 2px rgba(75,146,75,.75);
	-moz-box-shadow: 0 1px 2px rgba(75,146,75,.75);
	box-shadow: 0 1px 2px rgba(75,146,75,.75);
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	transition: background-color, 0.5s;
}

.search-button:hover{
	background-color: #5cb05c;
}

.header-col-2 nav {
	float: right;
}

.header-col-2 li {
	float: left;
	margin-left: 40px;
}

header nav a {
	font-family: 'Merriweather', serif;
	font-size: 15px;
}

header nav a:hover {
	border-bottom: 3px solid #033a74
}

.header-col-2 li a {
	color: #033a74;
}

.ham{
	display: none;
	width: 22px;
		height: 16px;
		z-index: 1;
		background: url("../img/hamburger.png");
}

.ham-press{
	display: none;
	background: url("../img/ham-press.png");
	width: 22px;
		height: 16px;
}

.search-ham{
	display: none;
}

.center-div button{
		font-family: 'Open Sans', sans-serif;
	}


/*---------------Hero--------------*/
.hero{
	width:100%;
	height: 390px;
	background: url(../img/Hero-images/1.png);
	margin: 20px 0;
}


.hero-col-1{
	float:left;
	padding-top: 20px;
	max-width: 450px;
	
	color: #fff;
}

.hero-col-2{
	float:right;
	padding-top:280px;
}

.hero button{
	width: 180px;
	height: 60px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #6ED26E;
	-webkit-box-shadow: 0 1px 2px #376b37, inset 0 2px 5px rgba(162,162,162,.33);
	-moz-box-shadow: 0 1px 2px #376b37, inset 0 2px 5px rgba(162,162,162,.33);
	box-shadow: 0 1px 2px #376b37, inset 0 2px 5px rgba(162,162,162,.33);
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	transition: background-color, 0.5s;
}

.hero button:hover{
	background-color:#5cb05c;
}

/*font styling of hero area*/

.hero-col-1 h1{
	font-family: 'Merriweather',serif;
	font-size: 40px;
}

.hero-col-1 p{
	font-family: 'Merriweather',serif;
	font-size:15.01px;
	line-height: 250%;
	color: white;
}


/*------------Form in Hero-------------*/


.hero-col-2 .container {
	position: absolute;
	top: 40px;
	right: 0;
	background-color: rgba(3,58,116,0.7); 
	width: 40%;
	padding: 0;
	border-radius: 10px;
}

.hero-col-2 .contact h2{
	font-size: 25px;
	padding-bottom: 1px;
}

.hero-col-2 .contact-col-1 {
	padding-left: 5%;
	padding-right: 10px;
}

.hero-col-2 .contact-col-2 {
	padding-right: 5%;
	padding-left: 10px;
}

.hero-col-2 .contact-col-1 input{
	width: 150px;
	height: 25px;
}

.hero-col-2 .contact textarea {
	width: 150px;
	height: 112px;
}

.hero-col-2 .contact input[type="submit"] {
	width: 125px;
	display: block;
	margin: auto;
	padding: 7px 6px;
	margin-bottom: 20px;
}


/*---------------Icons-----------------*/

.icons{
	margin-top:20px;
	border-top: 1px solid #b9b8b8;
	padding-top: 20px;
	height: 360px;
	padding-bottom: 20px;
	border-bottom: 1px solid #b9b8b8;
	margin-bottom: 20px;
	}

.icon-list li{
	max-width: 33.33333%;
	text-align: center;
	float: left;
	box-sizing: border-box;
	padding-left:3%;
	padding-right: 3%
}


/*---------------Clientele----------------*/
.clientele{
	height:200px;
	padding-bottom: 30px;
	border-bottom: 1px solid #b9b8b8;
	margin-bottom: 20px;
}
.client-images div{
	float: left;
	margin-left: 7%;
}

.left{
	float: left;
	padding-right: 40px;
	padding-top: 20px;
}

.last-class{
	display: none;
}

.f-left{
	float: left;
}

.f-right{
	float: right;
}


.right{
	float: right;
	padding-top: 18px;
}

.client-images-small{
	display: none;
}

.clientele-slider{
	margin: auto;
}
/*---------------Products Page--------------*/

.products-page {
	border-top: 1px solid #b9b8b8;
}

.products-list p {
	margin: 0;
	line-height: 150%;
}

.products-list h3 {
	margin: 0;
}

.products-list li {
	width: 48%;
	height: 300px;
	margin-bottom: 40px;	
	overflow: hidden;
}

.products-list li:nth-child(odd) {
	float: left;
}

.products-list li:nth-child(even) {
	float: right;

}


.products-list li a {
	color: #033a74;
}

.product-col-1 {
	width: 200px;
	height: 200px;
	border-radius: 10px;
	float: left;
	background-color: #b9b8b8;
	box-sizing: border-box;
}

.product-col-2 {
	float: right;
	box-sizing: border-box;
	width: 55%;
	padding: 0 0 0 10px;
}

.products-list img {
	width: 100%;
	height: 100%;

	border: 1px solid #b9b8b8 ;
	border-radius: 20px;
}


/*----------------About Page-----------------*/

.about-page-company, .about-page-team {
	border-top: 1px solid #b9b8b8;
}

.about-page-company {
	padding-bottom: 30px;
}

.about-team-list li {
	margin-top:40px;
	height: 400px;
}

.about-team-list li:last-child {
	padding-bottom: 0;
}

.team-col-1 {
	float: left;
	box-sizing: border-box;
	width: 30%;
	height: 60%;
	text-align: center;
}

.team-col-2 {
	float: right;
	box-sizing: border-box;
	width: 70%;
	padding: 0 0 0 10px;
}

.team-col-2 h3 {
	margin: 0;
}

.team-col-1>img {
	width: 200px;
	height: 250px;
}

/*---------Contact Page-----------*/

.contact-page .contact {
	padding: 200px 0;
	margin-top: 20px;
}


/*-----------Form-----------*/

.contact {
	background-color: #033a74;
	width: 100%;
	padding: 20px 0;
	border-bottom: 1px solid  #b9b8b8;
	margin-bottom: 20px;
}

.contact h2{
	color: white;
	font-family: 'Merriweather', serif;
	font-size: 41px;
	padding-bottom: 30px;
}

.contact-col-1 {
	float: left;
	box-sizing: border-box ;
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;

}

.contact-col-2 {
	float: right;
	box-sizing: border-box;
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
}

.contact input[type="submit"] {
	padding: 15px 60px;
	width: 200px;
	display: block;
	margin: 20px auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #6ED26E;
	-webkit-box-shadow: 0 5px 5px rgba(1,46,94,.75);
	-moz-box-shadow: 0 5px 5px rgba(1,46,94,.75);
	box-shadow: 0 5px 5px rgba(1,46,94,.75);
	transition: background-color, 0.5s;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
}

.contact input[type="submit"]:hover{
	background-color: #5cb05c;

}

.contact-col-1 input {

	float: right;
	border-radius: 10px;
	width: 250px;
	height: 30px;
	margin-bottom: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #fff;
	-webkit-box-shadow: 0 5px 5px rgba(1,46,94,.75), inset 0 1px 2px rgba(193,192,192,.75);
	-moz-box-shadow: 0 5px 5px rgba(1,46,94,.75), inset 0 1px 2px rgba(193,192,192,.75);
	box-shadow: 0 5px 5px rgba(1,46,94,.75), inset 0 1px 2px rgba(193,192,192,.75);
	border: solid 2px #012a56;
	padding-left: 5px;
	padding-right: 5px;
}

.contact textarea {
	border-radius: 8px;
	width: 240px;
	height: 127px;
	margin-bottom: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #fff;
	-webkit-box-shadow: 0 5px 5px rgba(1,46,94,.75), inset 0 1px 2px rgba(193,192,192,.75);
	-moz-box-shadow: 0 5px 5px rgba(1,46,94,.75), inset 0 1px 2px rgba(193,192,192,.75);
	box-shadow: 0 5px 5px rgba(1,46,94,.75), inset 0 1px 2px rgba(193,192,192,.75);
	border: solid 2px #012a56;
	padding: 5px;
	
}



/*----------------Footer----------------*/

footer {
	color: #b9b8b8;
	position: relative;
	padding-top: 20px;
	margin-top: 20px;
	border-top: 1px solid #b9b8b8;
}

footer .footer-col-1 {
	width: 40%;
	float: left;
	font-weight: bold;
	box-sizing: border-box;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	display: inline-block;
	padding-right: 20px;
}

footer .footer-col-2 {
	width: 60%;
	float: right;
	box-sizing: border-box;
	margin-top: 8px;
	margin-bottom:0px;
	height:200px;
}

.footer-col-2 button {
	width: 200px;
	height: 40px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #d2d2d2;
	-webkit-box-shadow: 0 1px 2px rgba(115,114,114,.75);
	-moz-box-shadow: 0 1px 2px rgba(115,114,114,.75);
	box-shadow: 0 1px 2px rgba(115,114,114,.75);
	margin-right: 8px;
	position: relative;

	padding-top: 10px;
	font-size: 18px;
	font-family: 'Merriweather', serif;
	transition: background-color, 0.5s;
	color:#323232;
}

.footer-col-2 button:hover{
	background-color:#c8c8c8;
}

.downimg{
	float: left;
	padding-left: 1px;
}

.footer-col-1 li a {
	color: #b9b8b8;
	font-family: 'Merriweather', serif;
}

.footer-col-1 li {
	margin: 18px auto 10px auto;
}

.footer-col-2 li {
	display: block;
	position: relative;
}

.footer-buttons form {
	display: inline;
}

.footer-contact {
	position: relative;
	bottom:100px;
}

.footer-contact li{
	width: 350px;
	position: relative;
	color:#b9b8b8;
}

.first-contact{
	bottom:33px;
	left: 50px;
}

.second-contact{
	left: 50px;
	bottom: 8px;
}

.third-contact{
	left: 50px;
	bottom: -15px;
}


footer hr {
	margin: 0.5px auto;
	width: 100px;
}

.footer-image{
	padding: 5px;
}

.copyright-bar {
	color: white;
	background-color: #b9b8b8;
	text-align: center;
	padding-top: 5px;
}

.copyright-bar>p {
	font-size: 14px;
	line-height: 100%;
	color: white;
	margin: 0px;
}
